.note{
    width: 200px;
    background-color: lightyellow;
    padding: 15px;
    border: 2px solid orange;
    margin: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}